<div class="row">
    <div class="col-lg-6 col-sm-6">
        <div class="circle-tile">
            <a href="dashboard/docs/arching">
                <div class="circle-tile-heading blue"><i class="fa fa-file-excel fa-fw fa-3x"></i></div>
            </a>
            <div class="circle-tile-content blue">
                <div class="h3 text-white">Arqueos fondos reintegrables</div>
                <div class="p text-faded mb-2">Documentos subidos por los usuarios</div>
                <a class="circle-tile-footer" href="dashboard/docs/arching">Ver mas<i
                        class="fa fa-chevron-circle-right ml-1"></i></a>
            </div>
        </div>
    </div>
    <div class="col-lg-5 col-sm-6">
        <div class="circle-tile">
            <a href="dashboard/docs/conciliation">
                <div class="circle-tile-heading red"><i class="fa fa-file-excel fa-fw fa-3x"></i></div>
            </a>
            <div class="circle-tile-content red">
                <div class="h3 text-white">Conciliación cuenta de cheques</div>
                <div class="p text-faded mb-2">Documentos subidos por los usuarios</div>
                <a class="circle-tile-footer" href="dashboard/docs/conciliation">Ver mas<i
                        class="fa fa-chevron-circle-right ml-1"></i></a>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-6">
        <div class="circle-tile">
            <a href="dashboard/profile">
                <div class="circle-tile-heading dark-blue"><i class="fa fa-user fa-fw fa-3x"></i></div>
            </a>
            <div class="circle-tile-content dark-blue">
                <div class="h3 text-white">Perfil</div>
                <div class="p text-faded mb-2">Datos del usuario actual</div>
                <a class="circle-tile-footer" href="dashboard/profile">Ver mas<i
                        class="fa fa-chevron-circle-right ml-1"></i></a>
            </div>
        </div>
    </div>

</div>