<div class="row vertical-center">
    <div class="col-md-6 card-sm">
        <div class="card">
            <div class="card-header bg-dark">
                <h4 class="text-white text-center">
                    CAJA
                </h4>
            </div>

            <div class="card-body">
                <div class="p-2">
                    <img class="card-img-top" src="/assets/img/logo2.png" width="375" height="120" alt="Logo">
                </div>
                <form class="p-2" [formGroup]="myForm" novalidate>
                    <div class="form-group">
                        <label for="inputUser">Nombre de usuario</label>
                        <input type="text" formControlName="usuario" class="form-control" id="inputUser"
                            aria-describedby="emailHelp" placeholder="Ingrese su usuario" required
                            [class.is-valid]="myForm.get('usuario')?.valid" [class.is-invalid]="myForm.get('usuario')?.invalid &&
                            (myForm.get('usuario')?.dirty ||
                              myForm.get('usuario')?.touched)">
                        <div class="invalid-feedback" *ngIf="myForm.get('usuario')?.hasError('required')">
                            Campo requerido
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Contraseña</label>
                        <input type="password" formControlName="password" class="form-control" id="inputPassword"
                            placeholder="Ingrese su contraseña" required [class.is-valid]="myForm.get('password')?.valid"
                            [class.is-invalid]="myForm.get('password')?.invalid &&
                            (myForm.get('password')?.dirty ||
                              myForm.get('password')?.touched)">
                        <div class="invalid-feedback" *ngIf="myForm.get('password')?.hasError('required')">
                            Campo requerido
                        </div>
                    </div>

                    <button class="btn btn-block btn-primary mt-4" [disabled]="myForm.invalid"
                        (click)="onSubmit()">Iniciar
                        sesión</button>
                </form>
            </div>
        </div>
    </div>
</div>