<div class="row">
    <div class="col-lg-8 col-sm-6">
        <div class="circle-tile">
            <a href="dashboard/users">
                <div class="circle-tile-heading green"><i class="fa fa-users fa-fw fa-3x"></i></div>
            </a>
            <div class="circle-tile-content green">
                <div class="h3 text-white">Administración de usuarios</div>
                <div class="p text-faded mb-2">Control de usuarios y sus datos</div>
                <a class="circle-tile-footer" href="dashboard/users">Ver mas<i class="fa fa-chevron-circle-right ml-1"></i></a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="circle-tile">
            <a href="dashboard/profile">
                <div class="circle-tile-heading dark-blue"><i class="fa fa-user fa-fw fa-3x"></i></div>
            </a>
            <div class="circle-tile-content dark-blue">
                <div class="h3 text-white">Perfil</div>
                <div class="p text-faded mb-2">Datos del usuario actual</div>
                <a class="circle-tile-footer" href="dashboard/profile">Ver mas<i class="fa fa-chevron-circle-right ml-1"></i></a>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-6">
        <div class="circle-tile">
            <a href="dashboard/docs-admin/arching">
                <div class="circle-tile-heading blue"><i class="fa fa-file-excel fa-fw fa-3x"></i></div>
            </a>
            <div class="circle-tile-content blue">
                <div class="h3 text-white">Arqueos fondos reintegrables</div>
                <div class="p text-faded mb-2">Documentos subidos por los usuarios</div>
                <a class="circle-tile-footer" href="dashboard/docs-admin/arching">Ver mas<i class="fa fa-chevron-circle-right ml-1"></i></a>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-6">
        <div class="circle-tile">
            <a href="dashboard/docs-admin/conciliation">
                <div class="circle-tile-heading red"><i class="fa fa-file-excel fa-fw fa-3x"></i></div>
            </a>
            <div class="circle-tile-content red">
                <div class="h3 text-white">Conciliación cuenta de cheques</div>
                <div class="p text-faded mb-2">Documentos subidos por los usuarios</div>
                <a class="circle-tile-footer" href="dashboard/docs-admin/conciliation">Ver mas<i class="fa fa-chevron-circle-right ml-1"></i></a>
            </div>
        </div>
    </div>
 
</div>